{% extends 'base.html.twig' %}

{% block content %}
<article class="alert alert-success">
    <p>Your secret have been created successfully.</p>
</article>

<article class="link-for-share">
    <header class="title">
        <h1>Link for share the secret</h1>
    </header>
    <section class="link">
        <p>You can share this secret with this link. Copy and paste in your email or chat:</p>
        <input type="text" class="link-field" value="{{ response.getLinkForShare.getUrl }}"/>
    </section>
</article>

<article class="secret">
    <header class="title">
        <h1>Secret</h1>
    </header>
    <section class="content">
        <article class="message">
            <p>Message</p>
            <textarea class="message-field">{{ response.getSecret.message.getContent }}</textarea>
        </article>
        <article class="expiration-date">
            <p>
                Expires in <span class="expiration-date-field">{{ response.getSecret.getExpirationTime.toString }}</span>
            </p>
        </article>
    </section>
</article>

<article class="alert alert-warning">
    <p>Remember: this link only works one time.</p>
</article>
<article class="link-to-create-secret">
    <a href="/" title="Create a new secret" class="button button-primary">Create a new secret</a>
</article>

{% endblock %}