{% extends 'base.html.twig' %}

{% block body %}
<h1>Your secret have been created successfully</h1>

<p>Link for share the secret:</p>
<input type="text" class="linkForShare" value="{{ response.getLinkForShare.getUrl }}"/>

<div class="secret">
    <h2>Secret</h2>
    <textarea>{{ response.getSecret.message.getContent }}</textarea>
</div>

<p>Remember: this link only works one time.</p>

<p><a href="/" title="Create a new secret" class="linkForCreateNewSecret">create new secret</a></p>
{% endblock %}