{% extends 'base.html.twig' %}

{% block content %}
    <section class="confirmation-unveil-secret">
        <form method="post" action="{{ data.linkForShareUrl }}">
            <input type="hidden" name="unveil" value="1"/>
            <p>Do you want to unveil this self destruct message?</p>
            <p>Remember, you can only see it once.</p>
            <input
                type="submit"
                class="button button-primary confirmation-unveil-secret"
                value="Yes, unveil self destruct message for me">
        </form>
    </section>
{% endblock %}