{% extends 'base.html.twig' %}

{% block content %}
    <section class="confirmation-unveil-secret">
        <form method="post" action="{{ data.linkForShareUrl }}">
            <input type="hidden" name="unveil" value="1"/>
            <p>Do you want to unveil this secret?</p>
            <p>Remember, you can see only it one time.</p>
            <input
                type="submit"
                class="button button-primary"
                value="Yes, unveil the secret for me">
        </form>
    </section>
{% endblock %}