{% extends 'base.html.twig' %}

{% block body %}
<section class="body create-secret">
    <h1>Create a secret</h1>
    <div class="description">
        <p>Share sensitive information like password, credentials, your porn profile, etc.</p>
    </div>
    <form class="secret" action="/secret" method="post">
        <p>Message</p>
        <textarea
            placeholder="Put your sensitive information here ..."
            name="message"
            class="message"
            required="required"
        ></textarea>
        <p><input type="submit" value="Create link for share"></p>
    </form>
</section>

{% endblock %}