{% extends 'base.html.twig' %}

{% block content %}
<section class="body create-secret">
    <h1>Create self destruct message</h1>
    <div class="description">
        <p>Share sensitive information like password, credentials, your porn profile, etc.</p>
    </div>
    <form class="secret-application" action="/secret" method="post">
        <article class="secret">
            <header class="title">
                <h1>Self destruct message</h1>
            </header>
            <section class="content">
                <article class="message">
                    <p>Message</p>
                    <textarea
                            placeholder="Put your sensitive information here ..."
                            name="message"
                            class="message-field"
                            required="required"
                    ></textarea>
                </article>
                <article class="expiration-time">
                    <p><strong>Expiration time</strong></p>
                    <p>
                        This is the time which the message is available in the system.
                        After of that time the message will be self destructed.
                    </p>
                    <select class="expiration-time-field" name="expirationTime">
                        <option value="60">1 minute</option>
                        <option value="600">10 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="6400">2 hour</option>
                        <option value="12800">4 hour</option>
                        <option value="25600">8 hour</option>
                        <option value="86400">1 day</option>
                        <option value="604800" selected="selected">1 week</option>
                    </select>
                </article>
                <article>
                    <p><strong>Send notification by email (optional)</strong></p>
                    <p>You can send an email notification with a link for share your information.</p>
                    <input type="test" name="email" placeholder="Email for send notification."/>
                </article>
            </section>
        </article>
        <input type="submit" class="button button-primary" value="Create self destruct message">
    </form>
</section>

{% endblock %}