{% extends 'base.html.twig' %}

{% block content %}
<section class="body create-secret">
    <h1>Create a secret</h1>
    <div class="description">
        <p>Share sensitive information like password, credentials, your porn profile, etc.</p>
    </div>
    <form class="secret-application" action="/secret" method="post">
        <article class="secret">
            <header class="title">
                <h1>Secret</h1>
            </header>
            <section class="message">
                <p>Message</p>
                <textarea
                        placeholder="Put your sensitive information here ..."
                        name="message"
                        class="message-field"
                        required="required"
                ></textarea>
                <article class="expiration-time">
                    <p>Expiration time</p>
                    <select class="expiration-time-field">
                        <option value="60">1 minute</option>
                        <option value="600">10 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="6400">2 hour</option>
                        <option value="12800">4 hour</option>
                        <option value="25600">8 hour</option>
                        <option value="86400">1 day</option>
                        <option value="604800" selected="selected">1 week</option>
                    </select>
                </article>
            </section>
        </article>
        <input type="submit" class="button button-primary" value="Create link for share">
    </form>
</section>

{% endblock %}