{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="secret_show error">
    <h1>404 not found</h1>

    <p>Sorry but link has been used or code not exist.</p>

</div>
{% endblock %}
