{% extends 'base.html.twig' %}

{% block content %}


<div class="secret_show error">
    <h1>404 not found</h1>

    <p>Sorry but link has been used or code not exist.</p>
    <p>You can <a href="/">create a new secret</a> and to share it with a link.</p>

</div>
{% endblock %}
