{% extends 'base.html.twig' %}

{% block content %}
<div class="secret_show">
    <h1>This self destruct message is for you</h1>

    <article class="alert alert-warning">
        <p>Remember: this self destruct message will only be shown one time.</p>
    </article>

    <article class="secret">
        <header class="title">
            <h1>Self destruct message</h1>
        </header>
        <section class="content">
            <article class="message">
                <p>Message</p>
                <textarea class="message-field" readonly>
                    {{ response.getSecret.message.getContent }}
                </textarea>
            </article>
            <article class="expiration-date">
                <p>
                    Expires at
                    <span class="expiration-date-field">
                        {{ response.getSecret.getExpirationDate.format('Y-m-d H:i:s') }}
                    </span>
                    (<span class="expiration-time-field">
                        {{ response.getSecret.getExpirationTime.getSeconds }}
                    </span> seconds).

                </p>
            </article>
        </section>
    </article>

    <article class="link-to-create-secret">
        <a href="/" title="Create a new secret" class="button button-primary">Create a new self destruct message</a>
    </article>
</div>
{% endblock %}
