{% extends 'base.html.twig' %}

{% block content %}
<div class="secret_show">
    <h1>This secret is for you</h1>

    <article class="alert alert-warning">
        <p>Remember: this message will only be shown one time.</p>
    </article>

    <article class="secret">
        <header class="title">
            <h1>Secret</h1>
        </header>
        <section class="message">
            <p>Message</p>
            <textarea class="field">{{ response.getSecret.message.getContent }}</textarea>
        </section>
    </article>
</div>
{% endblock %}
